
<mat-card>
  <mat-card-header>
    <mat-card-title>{{ hero.name}}</mat-card-title>
    <mat-card-subtitle>{{ hero.power }}</mat-card-subtitle>
  </mat-card-header>

  <!-- TODO: imagen -->
  <img mat-card-image [src]="hero | heroImage" [alt]="hero.name" class="hero-image">


  <mat-divider></mat-divider>

  <mat-card-actions>

     <button mat-button
      mat-raised
      [routerLink]="['/edit', hero.id ]">
      <mat-icon>edit</mat-icon>
      Editar
    </button>

    <span class="spacer"></span>
    <button
    mat-flat-button
    color="warn"
    (click)="onDeleteHero()"
    [disabled]="!hero.id"
  >
    <mat-icon>delete</mat-icon>
    Borrar
  </button>

  </mat-card-actions>

</mat-card>
