
<mat-card>
  <mat-card-header>
    <mat-card-title>{{ hero.heroe}}</mat-card-title>
    <mat-card-subtitle>{{ hero.id }}</mat-card-subtitle>
  </mat-card-header>

  <mat-divider></mat-divider>

  <mat-card-actions>

    <button mat-button
      mat-raised
      color="primary"
      [routerLink]="['/heroes/edit', hero.id ]">
      <mat-icon>edit</mat-icon>
      Editar
    </button>

    <span class="spacer"></span>

    <button mat-button
      mat-raised
      [routerLink]="['/heroes', hero.id ]">
      <mat-icon>more_horiz</mat-icon>
      Más
    </button>

  </mat-card-actions>

</mat-card>
