h1 {
  padding-left: 15px; 
}
  
.button-padding-left {
  padding-left: 10px;
}

.hero-image {
  width: 400px;
  max-height: 400px; 
  padding: 5px;
}

.cont-imag {
  width: 25%;
}

.container {
  padding: 10px;
}