h1 {
  padding-left: 15px; 
}
  
.button-padding-left {
  padding-left: 10px;
}

.hero-image {
  width: 400px;
  max-height: 400px; 
  padding: 5px;
}

.cont-imag {
  width: 25%;
}

  
@media (max-width: 600px) {
  .cont-imag {
    width: 25%;
    margin-left: -4%;
  }
  
}

.container {
  padding: 10px;
}

.loading-overlay {
  position: fixed; 
  top: 0;
  left: 0;
  height: 100%; 
  background: rgba(255, 255, 255, 0.8); 
  display: flex;
  justify-content: center; 
  align-items: center; 
  z-index: 1000; 
  width: 100%;
}
