<!-- Mostrar título solo si hay héroes -->
<h1 *ngIf="heroes.length > 0" class="centered-title">Héroes</h1>
<mat-divider class="mat-divider" *ngIf="heroes.length > 0"></mat-divider>

<!-- Mostrar mensaje si no hay héroes en la lista -->
<mat-card *ngIf="heroes.length === 0" class="empty-message">
  <mat-card-content>
    <h2>No hay héroes disponibles</h2>
    <p>Desde el menú puedes agregar un nuevo héroe.</p>
  </mat-card-content>
</mat-card>

<!-- Mostrar grilla de héroes cuando existan -->
<div *ngIf="heroes.length > 0">
  <mat-grid-list cols="5" rowHeight="300px" class="bm-8 pt-2">
    <mat-grid-tile *ngFor="let hero of heroes">
      <heroes-hero-card [hero]="hero"></heroes-hero-card>
    </mat-grid-tile>
  </mat-grid-list>
  
  
</div>

<!-- Mostrar paginador solo si hay héroes -->
<mat-paginator 
  *ngIf="heroes.length > 0"
  [length]="totalHeroes"
  [pageSize]="pageSize"
  [pageSizeOptions]="[5, 10, 25, 100]"
  (page)="onPageChange($event)">
</mat-paginator>
