
  
  @media (max-width: 600px) {
    mat-grid-list {
      cols: 2; /* 2 columnas en mobile */
    }
  }
  
  @media (min-width: 600px) and (max-width: 960px) {
    mat-grid-list {
      cols: 3; /* 3 columnas en tablet */
    }
  }
  
  @media (min-width: 960px) {
    mat-grid-list {
      cols: 4; /* 4 columnas en desktop */
    }
  }
  
  
  .centered-title {
    text-align: center; 
  }

  .mat-divider {
    padding-top: 30px;
  }
  
  